@model IEnumerable<ElectronicVoteSystem.Models.Party>

@{
    ViewData["Title"] = "Partidos";
}

<h1>Partidos</h1>

<p>
    <a asp-action="Create">Nuevo partido</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    var photoPath = "~/images/" + ((!string.IsNullOrEmpty(item.Logo) ? item.Logo : "nophoto.png"));
    string status = item.Status ? "Activo" : "Inactivo"; 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @status
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                <img style="width: 50px;height: 50px" src="@photoPath" alt="Alternate Text" asp-append-version="true" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i>Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i>Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
